@import "utils/variables";

@font-face {
    font-family: "shrikhand";
    src: url(font/Shrikhand/Shrikhand-Regular.ttf);

}

/* animation*/
@keyframes loader {
    0% {
        opacity :1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes spin {
    0%
    {
        transform:translate(-50%,-50%)  rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes heart2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
        background-image: linear-gradient($color-primaire, $color-secondaire);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    100% {
        opacity: 1;
        background-image: linear-gradient($color-primaire, $color-secondaire);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }
}

@keyframes heart1 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*generale*/
a {
    text-decoration: none;
    color: #000000;

    :hover {
        text-decoration: none;
    }
}

* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 10px;
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}

/*header*/
.logo {

    width: 300px;
    height: 100px;

    img {
        object-fit: cover;
        width: 100%;
        padding-top: 20px;
    }
}

/*loading*/
.loading {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: $color-grey;
    animation-name: loader;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    pointer-events: none;

    ::after {
        content: "";
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        border: $color-tertiaire solid 5px;
        border-top-color: $color-primaire;
        border-bottom-color: $color-secondaire;
        border-radius: 50%;
        animation-name: spin;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
    }



}

/* fonctionnement*/
#functioning {
    display: flex;
    margin: 0 15px;
    gap: 30px;

    .stage {
        display: flex;
        background-color: $color-grey;
        width: 90%;
        border-radius: 15px;
        height: 50px;
        align-items: center;
        gap: 10px;

        p {

            background-color: $color-primaire;
            border-radius: 15px;
            width: 20px;
            height: 20px;
            padding: 0 5px;
            margin-left: -12px;
            color: $color-white;
        }

        &:hover {
            background-color: #f5f0fC;

            i {
                color: $color-primaire;
            }
        }
    }
}

/*explorer*/
.searchbutton {
    background: linear-gradient($color-secondaire, $color-primaire);
    border-radius: 20px;
    height: 40px;
    width: 210px;
    border: 0;
    margin: 23px 0;
    cursor: pointer;

    span {
        color: $color-white;

    }

    &:hover {
        opacity: 0.8;
        box-shadow: 2px 2px 2px;
    }
}

/*restaurant*/

#rest {
    display: flex;
    justify-content: space-around;

    .restaurant {
        height: 300px;
        width: 20%;
    }

    .restaurantimage {
        object-fit: cover;
        width: 100%;
        height: 70%;

        img {
            width: 100%;
            height: 100%;
            border-radius: 15px 15px 0 0;
        }
    }

    .new {
        position: absolute;
        background-color: $color-tertiaire;
    }

    .description {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.heart {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    margin: -35px 15px;
    font-size: 20px;

    .heart1 {
        position: relative;

        &:hover {

            animation-name: heart1;
            animation-duration: 0.5s;
            animation-fill-mode: both;
        }
    }

    .heart2 {
        position: absolute;
        top: 0px;
        opacity: 0;
        color: $color-white;

        &:hover {

            animation-name: heart2;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;

        }
    }
}

/*footer*/
footer {
    background-color: $color-footer;
    height: 100px;
    width: 100%;

    #contact {
        display: flex;
        flex-direction: row;
        gap: 30px;
        padding-left: 10px;


        span,
        i {
            color: $color-white;
        }
    }

    h3 {
        padding: 10px;
        font-size: 25px;
        font-family: "shrikhand", Arial, Helvetica, sans-serif;
        color: $color-white;
    }

}

@media screen and (max-width:1024px) {
    #rest {
        flex-direction: column;
        height: 1500px;
        width: 50%;

        .restaurant {
            width: 80%;
        }
    }

}

@media all and (max-width: 768px) {


    body {
        padding: 0;
    }

    h2 {
        margin: 0;
        padding: 10px 0 20px 14px;
    }

    /*header*/

    header {
        display: flex;
        width: 100%;
        padding: 10px 0;
        height: 75px;

        .logo {
            display: flex;
            width: 54%;
            height: 50%;
            margin: auto;

            img {
                object-fit: contain;
                height: 100%;
                padding: 0;
            }
        }
    }

    /*formulaire*/

    #form {
        display: flex;
        background-color: #F5F5F5;
        justify-content: center;
        align-items: center;
        height: 35px;

        i {
            padding: 0 15px;
        }

    }

    /* premiere section*/
    #hight {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-grey;
        height: 230px;
        margin-bottom: 15px;



        h2,
        p {
            text-align: center;
            padding: 0 15px;


        }

        h2 {
            margin-top: 32px;
            margin-bottom: 0;
            font-weight: bold;
            font-size: larger;

        }
    }

    /*fonctionnement*/
    #functioning {

        flex-direction: column;
        width: 100%;
        margin: 0px 0px 30px 27px;
        gap: 15px;


        .stage {

            width: 90%;
        }
    }

    /*restaurant*/
    #restaurantsection {
        background-color: $color-grey;
        height: 1170px;
    }

    #rest {

        flex-direction: column;
        gap: 30px;
        width: 95%;
        height: auto;
        margin: 0 auto;
        justify-content: flex-start;


        .restaurant {
            background-color: $color-white;
            border-radius: 20px;
            width: 100%;
            height: 250px;
            margin: 0 auto;
        }



        .restaurantimage {
            height: 75%;
            width: 100%;
            border-radius: 15px 15px 0 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .description {

            justify-content: space-between;
            gap: 5px;

            h3,
            p {
                margin: 5px 10px;

            }

            i {
                padding: 0 15px;
                font-size: 20px;
            }
        }
    }

    .new {
        margin-left: 260px;
        margin-top: 10px;
        padding: 8px;
    }

    /*footer*/
    footer {
        height: 170px;

        h3 {
            padding: 10px 0 10px 15px;
            margin: 0;
            font-size: 20px;
        }
    

    #contact {
        list-style-type: none;
        padding: 0 20px;
        gap: 4px;
        flex-direction: column;

        i {
            font-size: 12px;
            padding-right: 10px;
        }


    }
    }
}