@font-face {
  font-family: "shrikhand";
  src: url(font/Shrikhand/Shrikhand-Regular.ttf);
}
/* animation*/
@-webkit-keyframes loader {
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes spin {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes spin {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes heart2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    background-image: linear-gradient(#9356DC, #ff79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    opacity: 1;
    background-image: linear-gradient(#9356DC, #ff79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@keyframes heart2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    background-image: linear-gradient(#9356DC, #ff79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    opacity: 1;
    background-image: linear-gradient(#9356DC, #ff79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@-webkit-keyframes heart1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes heart1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*generale*/
a {
  text-decoration: none;
  color: #000000;
}
a :hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 10px;
  font-family: "roboto", Arial, Helvetica, sans-serif;
}

/*header*/
.logo {
  width: 300px;
  height: 100px;
}
.logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  padding-top: 20px;
}

/*loading*/
.loading {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #f8F9F9;
  -webkit-animation-name: loader;
          animation-name: loader;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  pointer-events: none;
}
.loading ::after {
  content: "";
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: #99E2D0 solid 5px;
  border-top-color: #9356DC;
  border-bottom-color: #ff79DA;
  border-radius: 50%;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

/* fonctionnement*/
#functioning {
  display: flex;
  margin: 0 15px;
  gap: 30px;
}
#functioning .stage {
  display: flex;
  background-color: #f8F9F9;
  width: 90%;
  border-radius: 15px;
  height: 50px;
  align-items: center;
  gap: 10px;
}
#functioning .stage p {
  background-color: #9356DC;
  border-radius: 15px;
  width: 20px;
  height: 20px;
  padding: 0 5px;
  margin-left: -12px;
  color: #fFFFFF;
}
#functioning .stage:hover {
  background-color: #f5f0fC;
}
#functioning .stage:hover i {
  color: #9356DC;
}

/*explorer*/
.searchbutton {
  background: linear-gradient(#ff79DA, #9356DC);
  border-radius: 20px;
  height: 40px;
  width: 210px;
  border: 0;
  margin: 23px 0;
  cursor: pointer;
}
.searchbutton span {
  color: #fFFFFF;
}
.searchbutton:hover {
  opacity: 0.8;
  box-shadow: 2px 2px 2px;
}

/*restaurant*/
#rest {
  display: flex;
  justify-content: space-around;
}
#rest .restaurant {
  height: 300px;
  width: 20%;
}
#rest .restaurantimage {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 70%;
}
#rest .restaurantimage img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
}
#rest .new {
  position: absolute;
  background-color: #99E2D0;
}
#rest .description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heart {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  margin: -35px 15px;
  font-size: 20px;
}
.heart .heart1 {
  position: relative;
}
.heart .heart1:hover {
  -webkit-animation-name: heart1;
          animation-name: heart1;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.heart .heart2 {
  position: absolute;
  top: 0px;
  opacity: 0;
  color: #fFFFFF;
}
.heart .heart2:hover {
  -webkit-animation-name: heart2;
          animation-name: heart2;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/*footer*/
footer {
  background-color: #353535;
  height: 100px;
  width: 100%;
}
footer #contact {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-left: 10px;
}
footer #contact span,
footer #contact i {
  color: #fFFFFF;
}
footer h3 {
  padding: 10px;
  font-size: 25px;
  font-family: "shrikhand", Arial, Helvetica, sans-serif;
  color: #fFFFFF;
}

@media screen and (max-width: 1024px) {
  #rest {
    flex-direction: column;
    height: 1500px;
    width: 50%;
  }
  #rest .restaurant {
    width: 80%;
  }
}
@media all and (max-width: 768px) {
  body {
    padding: 0;
  }
  h2 {
    margin: 0;
    padding: 10px 0 20px 14px;
  }
  /*header*/
  header {
    display: flex;
    width: 100%;
    padding: 10px 0;
    height: 75px;
  }
  header .logo {
    display: flex;
    width: 54%;
    height: 50%;
    margin: auto;
  }
  header .logo img {
    -o-object-fit: contain;
       object-fit: contain;
    height: 100%;
    padding: 0;
  }
  /*formulaire*/
  #form {
    display: flex;
    background-color: #F5F5F5;
    justify-content: center;
    align-items: center;
    height: 35px;
  }
  #form i {
    padding: 0 15px;
  }
  /* premiere section*/
  #hight {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8F9F9;
    height: 230px;
    margin-bottom: 15px;
  }
  #hight h2,
#hight p {
    text-align: center;
    padding: 0 15px;
  }
  #hight h2 {
    margin-top: 32px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: larger;
  }
  /*fonctionnement*/
  #functioning {
    flex-direction: column;
    width: 100%;
    margin: 0px 0px 30px 27px;
    gap: 15px;
  }
  #functioning .stage {
    width: 90%;
  }
  /*restaurant*/
  #restaurantsection {
    background-color: #f8F9F9;
    height: 1150px;
  }
  #rest {
    flex-direction: column;
    gap: 30px;
    width: 95%;
    height: auto;
    margin: 0 auto;
    justify-content: flex-start;
  }
  #rest .restaurant {
    background-color: #fFFFFF;
    border-radius: 20px;
    width: 100%;
    height: 250px;
    margin: 0 auto;
  }
  #rest .restaurantimage {
    height: 75%;
    width: 100%;
    border-radius: 15px 15px 0 0;
  }
  #rest .restaurantimage img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #rest .description {
    justify-content: space-between;
    gap: 5px;
  }
  #rest .description h3,
#rest .description p {
    margin: 5px 10px;
  }
  #rest .description i {
    padding: 0 15px;
    font-size: 20px;
  }
  .new {
    margin-left: 260px;
    margin-top: 10px;
    padding: 8px;
  }
  /*footer*/
  footer {
    height: 170px;
  }
  footer h3 {
    padding: 10px 0 10px 15px;
    margin: 0;
    font-size: 20px;
  }
  #contact {
    list-style-type: none;
    padding: 0 20px;
    gap: 4px;
    flex-direction: column;
  }
  #contact i {
    font-size: 12px;
    padding-right: 10px;
  }
}/*# sourceMappingURL=style.css.map */