@font-face {
    font-family: "roboto";
    src: url(font/Roboto/Roboto-Black.ttf);
   /* src: url(font/Roboto/Roboto-BlackItalic.ttf);*/
    src: url(font/Roboto/Roboto-Bold.ttf);
   /*src: url(font/Roboto/Roboto-Italic.ttf);*/
    src: url(font/Roboto/Roboto-Light.ttf);
    /*src: url(font/Roboto/Roboto-LightItalic.ttf);*/
    src: url(font/Roboto/Roboto-Medium.ttf);
   /* src: url(font/Roboto/Roboto-MediumItalic.ttf);*/
    src: url(font/Roboto/Roboto-Regular.ttf);
    src: url(font/Roboto/Roboto-Thin.ttf);
   /* src: url(font/Roboto/Roboto-ThinItalic.ttf);*/
}

@font-face {
    font-family: "shrikhand";
    src: url(font/Shrikhand/Shrikhand-Regular.ttf);
    

}

a {
    text-decoration: none;
    color: #000000;
}

a :hover {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}


body{
    margin:0 0 0 25px;
}


.logo {
    width: 300px;
    height: 100px;
}

.logo img {
    object-fit: cover;
    width: 100%;
    padding-top: 20px;
}

.stage {
    display: flex;
    background-color: #F8F9f9;
    width: 300px;
    border-radius: 15px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#functioning {
    display: flex;

    gap: 30px;
}

#rest {
    display: flex;
    justify-content: space-around;

}

#rest img {
    object-fit: cover;
    width: 300px;
    height: 200px;
}

.new {
    position: absolute;
    background-color: #99E2D0;
}

.description {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: #353535;
    height: 100px;
    width: 100%;
}

#contact {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-left: 10px;

}

footer span,
footer h3,
footer i {
    color: #FFFFFF;
}

footer h3 {
    padding: 10px;
    font-size: 25px;
}

.stage p {

    background-color: #9356DC;
    border-radius: 15px;
    width: 20px;
    height: 20px;
    padding: 0 5px;
    margin-left: -12px;
    color: #FFFFFF;
}



#rest a {
    width: 20%;
}

.searchbutton {
    background: linear-gradient(#ff79DA, #9356DC) ;
    border-radius: 20px;
    height: 40px;
    width: 210px;
    border: 0;
    margin: 23px 0;

}
button span {
    color:#f2f2f2
}

@media screen and (max-width:1000px) {
    #rest img {
        width: 150px;
    }
}


@media all and (max-device-width: 768px) {

    body {
        
margin: 0;
        font-family: "roboto", Arial, Helvetica, sans-serif;
    }

    header {
        display: flex;
        width: 100%;
        padding: 10px 0;
        height: 75px;

    }

    .logo {
        display: flex;
        width: 54%;
        height: 50%;
        margin: auto;
    }

    .logo img {
        object-fit:contain;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    #hight {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F8F9f9;
        height: 230px;
        margin-bottom: 15px;
    }

    #form {
        display: flex;
        background-color: #F5F5F5;
        justify-content: center;
        align-items: center;
        height: 35px;
    }

    #hight h2,
    #hight p {
        text-align: center;
        padding:0 15px;


    }

    #hight h2 {
        margin-top: 32px;
        margin-bottom: 0;
        font-family: "roboto", Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: larger;

    }

    #functioning {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px 0px 30px 27px;
        gap: 15px;
    }

    #functioning i {
        font-size: 12px;
        color: #9356DC;
    }

    h2 {
        margin: 0;
        font-family: "roboto", Arial, Helvetica, sans-serif;
        padding: 10px 0 20px 14px;
    }

    .stage {
        background-color: #F8F9f9;
        width: 90%;
        border-radius: 15px;
        height: 50px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .stage p {

        background-color: #9356DC;
        border-radius: 15px;
        width: 20px;
        height: 20px;
        padding: 0 5px;
        margin-left: -12px;
    }

    .restaurant {
        background-color: #fdfefe;
        border-radius: 20px;
        width: 100%;
        height: 250px;
    }

    #rest {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 95%;
        margin: 0 auto;

    }

    #rest img {
        height: 75%;
        width: 100%;
        border-radius: 15px 15px 0 0;
    }

    footer {
        background-color: #353535;
        height: 170px;
    }

    footer h3,
    footer i,
    footer span {
        color: #f2f2f2;
    }

    footer h3 {
        padding: 10px 0 10px 15px;
        font-family: "shrikhand", Arial, Helvetica, sans-serif;
        margin:0; 
        font-size: 20px;
        font-weight: 300px;


    }

    #contact i {
        font-size: 12px;
        padding-right: 10px;
    }

    #contact {
        list-style-type: none;
        padding: 0 20Px;
        gap: 4px;
        display: flex;
        flex-direction: column;
    }

    a {
        text-decoration: none;
    }

    .description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
    }

    .description h3,
    .description p {
        margin: 5px 10px;

    }

    .description i {
        padding: 0 15px;
        font-size: 20px;
    }

    #form i {
        padding: 0 15px;
    }

    #restaurantsection {
        background-color: #F8F9f9;
        height: 1150px;
    }

    .new {
        position: absolute;
        margin-left: 260px;
        margin-top: 10px;
        padding: 8px;
        background-color: #99E2D0;


    }
}